#deleteAdmin{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
}

#deleteAdmin:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#createAdmin{
    -fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}


#createAdmin:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}