HBox{
    -fx-border-color: black;
}
VBox{
    -fx-alignment: center;
    -fx-border-color: black;
}
.CategoryHealthConditions{
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 15px;
    -fx-min-width: 19em;
    -fx-max-width: 19em;
    -fx-alignment: center;
}
.Category{
    -fx-border-width: 1;
    -fx-background-color: white;
}

#btnCategoryBack{
    -fx-font-size: 15px;
    -fx-border-color: #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#btnCategoryBack:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}