
#caseInfo, #createCase, #editCase{
    -fx-font-size: 15px;
    -fx-border-color:  #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}


#caseInfo:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}

#createCase:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}

#editCase:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}