#tilbageElever{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #009B42;
}

#tilbageElever:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}