/*    "Oprettelse af Elev" styling of elements   */


#BtnCreateStudent, #BtnEditStudent, #BtnDeleteStudent,#BtnSaveInformation {
    -fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}

#txtnameEditStudentField,#txtLastnameEditStudentField,#txtAgeEditStudentFiled,#txtEmailEditStudentField,#txtTelefonField,#txtAlderEditStudentFiled,#txtUserNameEditField{
    -fx-control-inner-background: #797862;
    -fx-text-fill: #2B2121;
    -fx-background-color:  #BBE5E8;
}

#BtnBack,#BtnBackCreateStudent,#backClasses,#BtnBackPatient,#citizenInformation,#backStudent,#backCitizen,#backClass,#backToLastPage {
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
}

#BtnCreateStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnBack:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#BtnTilbageOpretStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#backClasses:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#BtnBackPatient:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}



#BtnEditStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnDeleteStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnSaveInformation:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#citizenInfomation:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#citizenInfomation{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
}

#citizenInformation:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#backStudent:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backCitizen:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backClass:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backToLastPage:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}






