/*    "Oprettelse af Elev" styling of elements   */
.root{
    -fx-background-color: white;
}

#BtnCreateStudent,#BtnEditStudent,#BtnDeleteStudent,#BtnSaveInformation,#createTeacher#btnSaveCitizen {
    -fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}

/*Edit student style*/
#txtnameEditStudentField,#txtLastnameEditStudentField,#txtAgeEditStudentFiled,#txtEmailEditStudentField,#txtAlderEditStudentFiled,#txtUserNameEditField{
    -fx-control-inner-background: #797862;
    -fx-text-fill: #2B2121;
    -fx-background-color:  #EBF3EB;
}

#BtnBack,#BtnBackCreateStudent,#backGroups,#BtnBackPatient,#citizenInformation,#backStudent,#backCitizen,#backToLastPage,#backPatientBtn,#createAdmin,#deleteTeacher {
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
}


#txtNameField,#txtLastnameField,#txtcprField,#txtEmailField,#txtTelefonField,#txtadgangskodField,#txtAgeField,#txtUserField,#passwordTxt{
    -fx-control-inner-background: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
 }


.text-field:focused{
    -fx-control-inner-background: #EBF3EB;
    -fx-border-color: #15B559;
    -fx-background-color:  #EBF3EB;

}

.table-row-cell:selected {
    -fx-background-color:  #D4D3BE;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #777779;
}
.table-view{
    -fx-border-color: #777779;
}




#BtnCreateStudent:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
#BtnBack:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#BtnTilbageOpretStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#backGroups:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#BtnBackPatient:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}



#BtnEditStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnDeleteStudent:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnSaveInformation:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#citizenInfomation:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#citizenInfomation{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
}

#citizenInformation:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#backStudent:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backCitizen:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backClass:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backToLastPage:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}
#backPatientBtn:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#createAdmin:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#deleteTeacher:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#createTeacher:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnDeleteCitizen:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;

}

#BtnEditCitizen:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
#btnSaveCitizen:hover{
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}






