.no-label-checkbox {
    -fx-label-padding: 0;
}

#Button, #Button2{
    -fx-font-size: 12px;
    -fx-border-color:  #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#Button:hover, #Button2:hover {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}

#cb1:hover {
    ;
}