.root {
    -fx-background-color: #EBF3EB;
}

.button{
    -fx-background-color: none;
}

.button:hover{
    -fx-border-style: solid;
 }

#BtnBack{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #797862;
    -fx-background-color: none;
}

#BtnBack:hover{
    -fx-font-size: 15px;
    -fx-background-color: #d96969;
    -fx-text-fill: #2B2121;
    -fx-border-color: #cb2424;
}

#InfoTextBox{
    -fx-border-color: #797862;
    
}

#pane{
    -fx-background-color: #da5b5b;
}
