/**
Redefine of the background color, to a dark blue color.
 */

.root {
    -fx-content-display: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
   -fx-background-color: #BBE5E8;
}


#btnLogin:hover {

    -fx-cursor: hand;
}

#UserNameField, #PasswordField {
    -fx-border-color: #543f3f;
}



#btnLogin{
    -fx-font-size: 15px;
    -fx-background-color: #001569;
}