/*    "Oprettelse af Elev" styling of elements   */


#BtnOpretElev, #BtnRedigerElev, #BtnSletElev,#BtnGamOplysinger {
    -fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}

#txtnavnEditStudentField,#txtEfterNavnEditStudentField,#txtcprField,#txtEmailEditStudentField,#txtTelefonField,#txtTelefonField,#txtAlderEditStudentFiled{
    -fx-control-inner-background: #15B559;
    -fx-text-fill: #2B2121;
    -fx-background-color:  #D4D3BE;
}

#BtnTilbage {
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #009B42;
}

#BtnOpretElev:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnTilbage:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#BtnRedigerElev:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnSletElev:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

#BtnGamOplysinger:hover {
    -fx-text-fill: white;
    -fx-border-color: #001569;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}





