
.root{
     -fx-background-color: white;
}

#infoBox{
     -fx-background-color:  #BBE5E8;
}

#GridPane{
     -fx-background-color: white;
     -fx-text-fill: red;
}


#txtNameField,#txtLastnameField,#txtcprField,#txtEmailField,#txtTelefonField,#txtadgangskodField,#txtAgeField,#txtUserField{
     -fx-control-inner-background: white;
     -fx-text-fill: #2B2121;
     -fx-background-color:  #EBF3EB;
}


#Title{
      -fx-text-fill: #2B2121;
      -fx-font-size: 18px;
}

/* define the button action*/
#btnLogin:hover {
     -fx-cursor: hand;
}

/* define border color to these 2 Fileds*/
#txtFieldUsername, #txtPasswordField {
     -fx-border-color: #001569;
}

#txtFieldUsername:hover {
     -fx-border-color: #15B559;
}

#txtPasswordField:hover {
     -fx-border-color: #15B559;
}

/* Button font size and background color*/
#klasserKnnap, #BtnOpretBorger, #BtnRediger, #BtnSlet, #BtnOpretStudent{
     -fx-font-size: 15px;
     -fx-border-color:  #001569;
     -fx-background-color: #15B559;
     -fx-text-fill: white;
 }

#BtnOpretBorger:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
}

#klasserKnnap:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}
#BtnOpret:hover{
     -fx-font-size: 15px;
     -fx-background-color: #001569;
     -fx-text-fill: white;
     -fx-border-width: 1,5px;
}
#BtnOpretStudent:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}


/* patient styles start form her*/
#Patient{
     -fx-background-color: #BBE5E8;
}

#btnLogout{
     -fx-background-color: #001569;
     -fx-text-fill: white;
}

#btnInfo{
     -fx-border-color: #001569;
}

#btnInfo:hover{
     -fx-border-color: #001569;
     -fx-background-color: #001569;
     -fx-text-fill: white;
}

#citizentBoutten:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}

#citizentBoutten{
     -fx-font-size: 15px;
     -fx-border-color:  #001569;
     -fx-background-color: #15B559;
     -fx-text-fill: white;
}











