
.root{
     -fx-background-color:  #BBE5E8;
}

#infoBox{
     -fx-background-color:  #BBE5E8;
}

#GridPane{
     -fx-background-color: white;
     -fx-text-fill: red;
}
#btnInfo,#editCase{
     -fx-font-size: 15px;
     -fx-border-color: #001569;
     -fx-background-color: #15B559;
     -fx-text-fill: white;
}

#txtcprField,#txtEmailField,#txtTelefonField,#txtadgangskodField,#txtAgeField{
     -fx-control-inner-background: white;
     -fx-text-fill: #2B2121;
     -fx-background-color:  #EBF3EB;
}


#Title{
      -fx-text-fill: #2B2121;
      -fx-font-size: 18px;
}

/* define the button action*/
#btnLogin:hover {
     -fx-cursor: hand;
}

/* define border color to these 2 Fileds*/
#txtFieldUsername, #txtPasswordField {
     -fx-border-color: #001569;
}

#txtFieldUsername:hover {
     -fx-border-color: #15B559;
}

#txtPasswordField:hover {
     -fx-border-color: #15B559;
}

/* Button font size and background color*/
#groupBtn,#BtnCreatePatient, #citizentButton, #BtnSlet, #BtnCreateStudent1{
     -fx-font-size: 15px;
     -fx-border-color:  #001569;
     -fx-background-color: #15B559;
     -fx-text-fill: white;
 }

#BtnCreateStudent1:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
}


#citizentButton:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
}


#groupBtn:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}
#BtnOpret:hover{
     -fx-font-size: 15px;
     -fx-background-color: #001569;
     -fx-text-fill: white;
     -fx-border-width: 1,5px;
}

#BtnCreatePatient:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}


/* patient styles start form her*/
#Patient{
     -fx-background-color: #BBE5E8;
}

#btnLogout{
     -fx-background-color: #001569;
     -fx-text-fill: white;
}

#btnInfo:hover{
     -fx-font-size: 15px;
         -fx-background-color: white;
         -fx-text-fill: #2B2121;
         -fx-border-color: #15B559;
}

#citizentBoutten:hover{
     -fx-font-size: 15px;
     -fx-background-color: white;
     -fx-text-fill: #2B2121;
     -fx-border-color: #15B559;
     -fx-border-width: 1,5px;
}

#citizentBoutten{
     -fx-font-size: 15px;
     -fx-border-color:  #001569;
     -fx-background-color: #15B559;
     -fx-text-fill: white;
}

#caseInfo, #createCase{
    -fx-font-size: 15px;
    -fx-border-color:  #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}


#caseInfo:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}

#createCase:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}
#editCase:hover{
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2121;
    -fx-border-color: #15B559;
}










