/*TeacherKlassAndStudents style is starting here*/

.root{
    -fx-background-color: #EBF3EB;
}

#addStudentToClass, #deleteAClass {
    -fx-border-color: #001569;
    -fx-background-color: #001569;
    -fx-text-fill: white;
}

#addStudentToClass:hover {
    -fx-border-color: #009B42;
    -fx-background-color: #001569;
    -fx-border-width: 1;
}

#newClass, #newStudent {
    -fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}

#TilbageForside {
    -fx-border-color:  #AEAD9B;
    -fx-border-radius: 4px;
}

#TilbageForside:hover {
    -fx-border-color: #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#TilbageForside:hover {
    -fx-border-color: #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#newClass:hover {
    -fx-font-size: 15px;
    -fx-border-color: #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#newStudent:hover {
    -fx-font-size: 15px;
    -fx-border-color: #001569;
    -fx-background-color: #15B559;
    -fx-text-fill: white;
}

#deleteStudentInClass:hover {
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#deleteStudentInClass{
    fx-font-size: 12px;
    -fx-background-color: #009B42;
    -fx-text-fill: white;
}

#tilbageElever{
    -fx-font-size: 12px;
    -fx-text-fill: #001569;
    -fx-border-color: #009B42;
}

#tilbageElever:hover{
    -fx-text-fill: white;
    -fx-border-color: #009B42;
    -fx-border-width: 2px;
    -fx-background-color: #009B42;
}

#deleteAClass:hover{
    -fx-border-color: #009B42;
    -fx-background-color: #001569;
    -fx-border-width: 1;
}